 .flex-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background: #ddd;
 }

 .flex-item {
     background: #f9f9f9;
     padding: 20px;
     margin: 10px;
     flex: 1;
     /* Each item will take up equal space */
 }